/*-------------------- Fonts import --------------------*/

@font-face {
  font-family: 'WhyteInktrap';
  src: url(../../assets/fonts/WhyteInktrap/WhyteInktrap-Regular.ttf) format('truetype'),
       url(../../assets/fonts/WhyteInktrap/WhyteInktrap-Regular.eot) format('embedded opentype'),
       url(../../assets/fonts/WhyteInktrap/WhyteInktrap-Regular.woff) format('woff'),
       url(../../assets/fonts/WhyteInktrap/WhyteInktrap-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MabryPro';
  src: url(../../assets/fonts/MabryPro/MabryPro-Regular.ttf) format('truetype'),
       url(../../assets/fonts/MabryPro/MabryPro-Regular.eot) format('embedded opentype'),
       url(../../assets/fonts/MabryPro/MabryPro-Regular.woff) format('woff'),
       url(../../assets/fonts/MabryPro/MabryPro-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}

/*-------------------- CSS Global Reset --------------------*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/*--------------------  --------------------*/
